{% extends 'Base.html' %}
{% block title %}
<div style="text-align: center;width: auto; margin-top: 20px; margin-bottom: 30px;">
    <h1 style="color:white"><b>Produits</b></h1>
</div>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
       {% for produit in prod_list %}
            <div class="card" style="width: 18rem;margin:10px;">
                <img class="card-img-top" src="../static/imgs/{{produit.img}}" alt="Card image cap" style="margin-top: 5px;">
                <div class="card-body">
                    <h3 class="card-title"><b>{{produit.name}}</b></h3>
                    <p class="card-text">{{produit.Description}}</p>
                    <h5 class="card-title"><b>{{produit.prix}} $</b></h5>
                    <a href="../AchatDetail/{{produit.name}}" class="btn btn-primary">Acheter</a>
                </div>
            </div>
       {% endfor %}
    </div>
</div>



{% endblock %}