{% extends 'Base.html' %}

{% block contents %}
<div class="container" style="padding: 20px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src=../static/imgs/{{produit.img}} class="img-fluid" alt={{Produit.img}}>  
        </div>
        <div class="col-lg-4  col-md-4 col-sm-12 card text-center">
            <table style="height: 100% !important;" >
                <form action="../panier/" method="post">{% csrf_token %}
                <tr>
                    <td colspan="2">
                        <h1>{{produit.name}}</H1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div><Label>Chemin d'amélioration :</Label></div>
                    </td>
                    <td>
                        <div>
                            <select name="Amelioration" >
                                <option value="Chemin 1">chemin 1</option>
                                <option value="Chemin 2">chemin 2</option>
                                <option value="Chemin 3">chemin 3</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><Label>Niveau de l'amélioration</Label></td>
                    <td>
                        <div>
                            <input name="NumeroEvolution" type="number" min="1" max="5" value="{{Niveau}}">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><Label>Niveau de l'amélioration</Label></td>
                    <td>
                        <div>
                            <input name="quantite" type="number" min="1" max="10" value="{{quantite}}">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div>
                            <input type="submit" value="Ajoutez au panier">
                        </div>
                    </td>
                </tr>
                <input type="hidden" value="{{produit.name}}" name="nomProduit"/>
                <input type="hidden" value="{{panierId}}" name="panierId"/>
            </form>
            </table>
        
        </div>
    </div>
</div>
{% endblock %}